<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myspringboot.mapper.SoldUserMapper">

    <insert id="insert">
        INSERT OR IGNORE INTO sold_users (goods_id, user_id)
        VALUES (#{goodsId}, #{userId})
    </insert>

    <delete id="delete">
        DELETE FROM sold_users WHERE goods_id = #{goodsId} AND user_id = #{userId}
    </delete>

    <select id="countByGoodsIdAndUserId" resultType="int">
        SELECT COUNT(*) FROM sold_users WHERE goods_id = #{goodsId} AND user_id = #{userId}
    </select>

</mapper>
